// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700");

// Typography
$font-family-sans-serif: "Poppins", sans-serif;

//Colors
$white: #fff;
$blue: #5d78ff;
$title-color: #434349;

body {
    font-family: $font-family-sans-serif;
    line-height: 1.5;
    font-size: .8rem !important;
    font-weight: 300;
}

.rd-form {
    padding: 1rem 0 5rem;
    margin: auto;

    &.rd-form-label-right
        .form-group
        label:not(.rd-checkbox):not(.rd-radio):not(.rd-option) {
        text-align: right;
    }

    .card {
        border: none;
        box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);

        .card-header {
            border: none;
            padding: 1rem;
            margin: 0;
            color: #48465b;
            background-color: $white;
        }
    }
}

.btn {
    &.rd-btn-bold {
        font-weight: 600;
    }

    &.rd-btn-default {
        background: 0 0;
        color: #74788d;
        border: 1px solid #e8ecfa;
    }

    &.rd-btn-brand {
        color: $white;
        background-color: #5d78ff;
        border-color: #5d78ff;

        &.btn.dropdown-toggle {
            opacity: 0.6;
        }
    }
}

.rd-subheader {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: $white;

    min-height: 54px;
    padding: 0 25px;

    .rd-subheader__main {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 0.25rem 0;

        .rd-subheader__group {
            display: flex;
            align-items: center;
        }

        .rd-subheader__title {
            margin: 0;
            padding: 0 1rem 0 0;
            font-size: 1rem;
            font-weight: 500;
            color: $title-color;
            display: flex;
            align-items: center;

            .rd-subheader__separator {
                display: block;
                width: 12px;

                height: 4px;
                border-radius: 2px;
                background: #e7e8ef;
                margin: 0 1rem 0 0;

                &.rd-subheader__separator--v {
                    width: 1px;
                    height: 22px;
                }
            }
        }

        .rd-subheader__desc {
            padding: 0 0.5rem 0 0;
            //font-size: 1rem;
            font-weight: 500;
            color: #959cb6;
        }
    }
    .rd-subheader__toolbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
    }
}

.rd-nav {
    justify-content: space-between;
    background-color: #ebeefb;

    .rd-nav-item {
        display: flex;
        align-items: flex-end;
        /*
            1/4  - 4 columns per row
            5px - spacing between columns
        */
        flex: 0 0 calc(1 / 4 * 100% - (1 - 1 / 4) * 5px);
        //width: calc(1/4 * 100% - (1 - 1/4) * 5px);

        border-radius: 0.5rem 0.5rem 0 0;

        .rd-link {
            width: 100%;
            height: 100%;
            background-color: #f7f8fb;
            .rd-nav-body {
                display: flex;
                flex: 1;
                align-items: center;
                padding: 1rem 1.5rem;

                .rd-nav-number {
                    display: flex;
                    flex: 0 0 2.25rem;
                    align-items: center;
                    justify-content: center;

                    font-size: 1rem;
                    font-weight: 600;
                    height: 2.25rem;
                    width: 2.25rem;
                    background-color: rgba(93, 120, 255, 0.08);
                    color: $blue;
                    margin-right: 1rem;
                    border-radius: 0.5rem;
                }

                .rd-nav-label {
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    .rd-nav-label-title {
                        font-size: .9rem;
                        font-weight: 600;
                        color: $blue;
                    }

                    .rd-nav-label-desc {
                        color: #959cb6;
                    }
                }
            }
        }

        .rd-link.active {
            background-color: $white;
            .rd-nav-body {
                .rd-nav-number {
                    color: $white;
                    background-color: #5d78ff;
                }

                .rd-nav-label-title {
                    color: #5d78ff;
                }
            }
        }
    }
}

.rd-avatar {
    position: relative;
    display: inline-block;

    &.rd-avatar--outline .rd-avatar__holder {
        border: 3px solid $white;
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
    }

    .rd-avatar__holder {
        width: 120px;
        height: 120px;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .rd-avatar__upload {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -10px;
        top: -10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.3s;

        .rd-avatar__upload i {
            color: #5d78ff;
            font-size: 0.9rem;
        }

        &:hover {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            background-color: #5d78ff;
        }

        &:hover i {
            color: $white;
        }

        input {
            width: 0 !important;
            height: 0 !important;
            overflow: hidden;
            opacity: 0;
        }
    }

    .rd-avatar__cancel {
        cursor: pointer;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: auto;
        right: -10px;
        bottom: -5px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
        display: none;
    }
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar {
    width: calc(100% - 250px);
    position: absolute;
    left: 250px;
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

    &.active {
        width: 100%;
        left: 0;
    }

    .btn-collapse {
        background: rgba(4, 17, 75, 0.9);
        color: #fff;
    }
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;

    color: #fff;
    transition: all 0.3s;

    background: linear-gradient(rgba(4, 17, 75, 0.6), rgba(4, 17, 75, 0.8)),
        url(/images/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px #999;

    &.active {
        margin-left: -250px;
    }

    .bottom-border {
        border-bottom: 1px groove #eee;
    }

    #dismiss {
        display: none;
    }

    .sidebar-header {
        background: #6d7fcc;
    }

    ul p {
        color: #fff;
        padding: 10px;
    }

    ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    ul li a:hover {
        color: #7386d5;
        background: #fff;
    }

    ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: #7386d5;
    }

    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: -1;

    &.active {
        width: 100%;
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;

        &.active {
            margin-left: 0;
        }
        #dismiss {
            display: block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background: #04114b;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            border-radius: 20px;

            &:hover {
                background: #fff;
                color: #7386d5;
            }
        }
    }

    #navbar {
        width: 100%;
        left: 0;

        #sidebarCollapse span {
            display: none;
        }
    }

    #content {
        width: 100%;

        &.active {
            width: 100%;
        }
    }
}
