@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700);body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 0.8rem !important;
  font-weight: 300;
}

.rd-form {
  padding: 0 0 5rem;
  margin: auto;
}

.rd-form.rd-form-label-right .form-group label:not(.rd-checkbox):not(.rd-radio):not(.rd-option) {
  text-align: right;
}

.rd-form .card {
  border: none;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
}

.rd-form .card .card-header {
  border: none;
  padding: 1rem;
  margin: 0;
  color: #48465b;
  background-color: #fff;
}

.rd-form .form-group .checkbox-inline {
  margin-top: 0.7rem;
  padding: 0 0;
}

.rd-form .form-group .checkbox-inline label {
  font-size: 1rem;
  font-weight: 400;
  color: #464e5f;
}

.rd-form .form-group .checkbox-inline .checkbox {
  top: 1px;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  margin-bottom: 5px;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.rd-form .form-group .checkbox-inline .checkbox > input:checked ~ span::after {
  border-color: #fff;
  display: block;
}

.rd-form .form-group .checkbox-inline .checkbox > span::after {
  content: "";
  border-color: transparent;
  border-style: solid;
  border-width: 0 2px 2px 0 !important;
  transform: rotate(45deg);
  margin-top: -2px;
  width: 5px;
  height: 10px;
}

.btn.rd-btn-bold {
  font-weight: 600;
}

.btn.rd-btn-default {
  background: 0 0;
  color: #74788d;
  border: 1px solid #e8ecfa;
}

.btn.rd-btn-brand {
  color: #fff;
  background-color: #5d78ff;
  border-color: #5d78ff;
}

.btn.rd-btn-brand.btn.dropdown-toggle {
  opacity: 0.6;
}

.rd-subheader {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: #fff;
  min-height: 54px;
  padding: 0 25px;
  margin-bottom: 1rem;
}

.rd-subheader .rd-subheader__main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.25rem 0;
}

.rd-subheader .rd-subheader__main .rd-subheader__group {
  display: flex;
  align-items: center;
}

.rd-subheader .rd-subheader__main .rd-subheader__title {
  margin: 0;
  padding: 0 1rem 0 0;
  font-size: 1rem;
  font-weight: 500;
  color: #434349;
  display: flex;
  align-items: center;
}

.rd-subheader .rd-subheader__main .rd-subheader__title .rd-subheader__separator {
  display: block;
  width: 12px;
  height: 4px;
  border-radius: 2px;
  background: #e7e8ef;
  margin: 0 1rem 0 0;
}

.rd-subheader .rd-subheader__main .rd-subheader__title .rd-subheader__separator.rd-subheader__separator--v {
  width: 1px;
  height: 22px;
}

.rd-subheader .rd-subheader__main .rd-subheader__desc {
  padding: 0 0.5rem 0 0;
  font-weight: 500;
  color: #959cb6;
}

.rd-subheader .rd-subheader__toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.rd-nav {
  justify-content: space-between;
  background-color: #ebeefb;
}

.rd-nav .rd-nav-item {
  display: flex;
  align-items: flex-end;
  /*
      1/4  - 4 columns per row
      5px - spacing between columns
  */
  flex: 0 0 calc(1 / 4 * 100% - (1 - 1 / 4) * 5px);
  border-radius: 0.5rem 0.5rem 0 0;
}

.rd-nav .rd-nav-item .rd-link {
  width: 100%;
  height: 100%;
  background-color: #f7f8fb;
}

.rd-nav .rd-nav-item .rd-link .rd-nav-body {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 1rem 1.5rem;
}

.rd-nav .rd-nav-item .rd-link .rd-nav-body .rd-nav-number {
  display: flex;
  flex: 0 0 2.25rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  height: 2.25rem;
  width: 2.25rem;
  background-color: rgba(93, 120, 255, 0.08);
  color: #5d78ff;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.rd-nav .rd-nav-item .rd-link .rd-nav-body .rd-nav-label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.rd-nav .rd-nav-item .rd-link .rd-nav-body .rd-nav-label .rd-nav-label-title {
  font-size: 0.9rem;
  font-weight: 600;
  color: #5d78ff;
}

.rd-nav .rd-nav-item .rd-link .rd-nav-body .rd-nav-label .rd-nav-label-desc {
  color: #959cb6;
}

.rd-nav .rd-nav-item .rd-link.active {
  background-color: #fff;
}

.rd-nav .rd-nav-item .rd-link.active .rd-nav-body .rd-nav-number {
  color: #fff;
  background-color: #5d78ff;
}

.rd-nav .rd-nav-item .rd-link.active .rd-nav-body .rd-nav-label-title {
  color: #5d78ff;
}

.rd-avatar {
  position: relative;
  display: inline-block;
}

.rd-avatar.rd-avatar--outline .rd-avatar__holder {
  border: 3px solid #fff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
}

.rd-avatar .rd-avatar__holder {
  width: 120px;
  height: 120px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
}

.rd-avatar .rd-avatar__upload {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.rd-avatar .rd-avatar__upload .rd-avatar__upload i {
  color: #5d78ff;
  font-size: 0.9rem;
}

.rd-avatar .rd-avatar__upload:hover {
  transition: all 0.3s;
  background-color: #5d78ff;
}

.rd-avatar .rd-avatar__upload:hover i {
  color: #fff;
}

.rd-avatar .rd-avatar__upload input {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
  opacity: 0;
}

.rd-avatar .rd-avatar__cancel {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: auto;
  right: -10px;
  bottom: -5px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
  display: none;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.wrapper {
  display: flex;
  width: 100%;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar {
  width: calc(100% - 250px);
  position: absolute;
  left: 250px;
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar.active {
  width: 100%;
  left: 0;
}

.navbar .btn-collapse {
  background: rgba(4, 17, 75, 0.9);
  color: #fff;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  color: #fff;
  transition: all 0.3s;
  background: linear-gradient(rgba(4, 17, 75, 0.6), rgba(4, 17, 75, 0.8)), url(/images/img1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px #999;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .bottom-border {
  border-bottom: 1px groove #eee;
}

#sidebar #dismiss {
  display: none;
}

#sidebar .sidebar-header {
  background: #6d7fcc;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
#sidebar a[aria-expanded=true] {
  color: #fff;
  background: #6d7fcc;
}

#sidebar a[data-toggle=collapse] {
  position: relative;
}

#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

#sidebar ul.CTAs {
  padding: 20px;
}

#sidebar ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

#sidebar a.download {
  background: #fff;
  color: #7386d5;
}

#sidebar a.article,
#sidebar a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  padding: 0 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 5rem;
  right: 0;
  z-index: -1;
}

#content.active {
  width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebar #dismiss {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #04114b;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 20px;
  }

  #sidebar #dismiss:hover {
    background: #fff;
    color: #7386d5;
  }

  #navbar {
    width: 100%;
    left: 0;
  }

  #navbar #sidebarCollapse span {
    display: none;
  }

  #content {
    width: 100%;
  }

  #content.active {
    width: 100%;
  }

  .rd-nav {
    margin-top: 1rem;
  }

  .rd-nav .rd-nav-item {
    flex: 0 0 100%;
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
  }

  .rd-nav .rd-nav-item .rd-link {
    padding: 0;
  }

  .rd-nav .rd-nav-item .rd-link .rd-nav-body {
    padding: 0.5rem 1.5rem;
  }
}

